<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_NorthwindProductService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4501/Products.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_NorthwindProductService"
                contract="ProductServiceConsumer.NorthwindProductService"
                name="WSHttpBinding_NorthwindProductService">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>