<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
    <sectionGroup name="InterPress_Configuration">
      <section name="NBConfigFiles" type="Interpress.DataLayer.Dao.NHibernateConfigFileHandler,Interpress.DataLayer.Dao.InterpressNConfigFactory"/>
    </sectionGroup>

    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TestProxy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <castle>
    <components>
      <component id="InterpressDataContractResolver" type="Interpress.ServiceLayer.IServices.InterpressCustomDataContractResolver, Interpress.ServiceLayer.IBaseService" lifestyle="singleton"/>


    </components>
  </castle>


  <appSettings>
    <add key="entitydlls" value="Interpress.Entities;Interpress.Entities.Arsiv;Interpress.Entities.ArsivReporting;Interpress.Entities.Dbt"/>

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="test2">
          <dataContractSerializer maxItemsInObjectGraph="10000000"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="largemessagetransfers" maxBufferSize="248065365" maxBufferPoolSize="248065365" maxReceivedMessageSize="248065365" receiveTimeout="00:20:00" sendTimeout="00:20:00" closeTimeout="00:20:00" openTimeout="00:20:00" transactionFlow="true" transactionProtocol="OleTransactions">
          <readerQuotas maxArrayLength="248065365" maxBytesPerRead="65536" maxDepth="248065365" maxStringContentLength="248065365"/>
          <reliableSession enabled="false" inactivityTimeout="00:10:00" ordered="true"/>
          <security mode="None">
            <message clientCredentialType="None"/>
            <transport clientCredentialType="None" protectionLevel="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint name="DbtService" address="net.tcp://192.168.30.36:6400/Dbt" binding="netTcpBinding" bindingConfiguration="largemessagetransfers" behaviorConfiguration="test2" contract="Interpress.ServiceLayer.IServices.Dbt.IDbtService">
      </endpoint>
      <endpoint name="IpnewService" address="net.tcp://192.168.30.236:5400/Basin" binding="netTcpBinding" bindingConfiguration="largemessagetransfers" behaviorConfiguration="test2" contract="Interpress.ServiceLayer.IServices.Ipnew.IIpnewService">
      </endpoint>
      <endpoint name="MedyaRehberiService" address="net.tcp://localhost:5500/MedyaRehberi" binding="netTcpBinding" bindingConfiguration="largemessagetransfers" behaviorConfiguration="test2" contract="Interpress.ServiceLayer.IServices.MedyaRehberi.IMedyaRehberiService">
      </endpoint>
      <endpoint name="ExcelService" address="net.tcp://192.168.30.236:11400/ExcelService" binding="netTcpBinding" bindingConfiguration="largemessagetransfers" behaviorConfiguration="test2" contract="Interpress.ServiceLayer.IServices.Excel.IExcelService">
      </endpoint>
      <endpoint name="PdfService" address="net.tcp://192.168.30.236:10400/PdfService" binding="netTcpBinding" bindingConfiguration="largemessagetransfers" behaviorConfiguration="test2" contract="Interpress.ServiceLayer.IServices.Pdf.IPdfService">
      </endpoint>
      <endpoint name="ArsivService" address="net.tcp://192.168.30.40:9401/Arsiv" binding="netTcpBinding" bindingConfiguration="largemessagetransfers" behaviorConfiguration="test2" contract="Interpress.ServiceLayer.IServices.Arsiv.IArsivService">
      </endpoint>
    </client>
  </system.serviceModel>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <TestProxy.Properties.Settings>
      <setting name="MaxMediaId" serializeAs="String">
        <value>600780000</value>
      </setting>
      <setting name="MaxClipId" serializeAs="String">
        <value>402900000</value>
      </setting>
    </TestProxy.Properties.Settings>
  </userSettings>
</configuration>