<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="../../app_messages.svclog"
          type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <bindings>
      <wsHttpBinding >
        <binding name="wsBinding">
          <reliableSession enabled="true"/>
          <security mode="Message"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="EventProviderBehavior">
          <serviceMetadata httpGetUrl="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <services>
      <service name="EventServiceLibrary.EventProvider" behaviorConfiguration="EventProviderBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8401/Services/EventProvider"/>
            <add baseAddress="http://localhost:8402/Services/EventProvider"/>
          </baseAddresses>
        </host>
        <endpoint name="EventProdiverTcpEndpoint" address="" binding="netTcpBinding" contract="EventServiceLibrary.IEventProvider" />
        <endpoint name="EventProviderMexTcpEndpoint" address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <endpoint name="EventProviderHttpEndpoint" address="" binding="basicHttpBinding" contract="EventServiceLibrary.IEventProvider"/>
        <endpoint name="EventProviderMexHttpEndpoint" address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint name="EventProviderWsHttpEndpoint" address="secure" binding="wsHttpBinding" contract="EventServiceLibrary.IEventProvider" bindingConfiguration="wsBinding"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>