
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TEST AREA </title>
</head>
<body>
<div>
    <h1>TEST AREA</h1>
</div>
</body>
</html>
