<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IPerson" />
                <binding name="MetadataExchangeHttpBinding_IPerson">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8732/Design_Time_Addresses/WcfService/Service1/first/first"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPerson"
                contract="MyFirstService.IPerson" name="WSHttpBinding_IPerson">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8732/Design_Time_Addresses/WcfService/Service1/first/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IPerson"
                contract="MyFirstService.IPerson" name="MetadataExchangeHttpBinding_IPerson" />
        </client>
    </system.serviceModel>
</configuration>