<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IEmployeeService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4502/Employee.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IEmployeeService" contract="EmployeeService.IEmployeeService"
                name="WSHttpBinding_IEmployeeService" />
        </client>
    </system.serviceModel>
</configuration>