<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EventProviderHttpEndpoint" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="EventProdiverTcpEndpoint" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="EventProviderWsHttpEndpoint">
                    <reliableSession enabled="true" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8401/Services/EventProvider"
                binding="netTcpBinding" bindingConfiguration="EventProdiverTcpEndpoint"
                contract="EventConsumer.IEventProvider" name="EventProdiverTcpEndpoint">
               
            </endpoint>
            <endpoint address="http://localhost:8402/Services/EventProvider" binding="basicHttpBinding" bindingConfiguration="EventProviderHttpEndpoint" contract="EventConsumer.IEventProvider" name="EventProviderHttpEndpoint" />
          
            <endpoint address="http://localhost:8402/Services/EventProvider/secure" binding="wsHttpBinding" bindingConfiguration="EventProviderWsHttpEndpoint"
                contract="EventConsumer.IEventProvider" name="EventProviderWsHttpEndpoint">
                
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>